In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [8]:
aeroporti = pd.read_csv("file_ingestion/aeroporti.csv")
capacità_delle_accomodation = pd.read_csv("file_ingestion/capacità_delle_accomodation.csv")
classificazione_località = pd.read_csv("file_ingestion/classificazione_località.csv")
fasce_di_reddito = pd.read_csv("file_ingestion/fasce_di_reddito.csv")
lat_long_comuni = pd.read_csv("file_ingestion/lati_long_comuni.csv")
quot_immobiliari = pd.read_csv("file_ingestion/quot_immobiliari.csv")
reddito_procapite = pd.read_csv("file_ingestion/reddito_procapite.csv")
scuole = pd.read_csv("file_ingestion/schoolmap_italia.csv")
spopolamento_comuni = pd.read_csv("file_ingestion/spopolamento_comuni_2023.csv")
stazioni = pd.read_csv("file_ingestion/stazioni_italiane.csv")
tasso_disoccupazione = pd.read_csv("file_ingestion/tasso_di_disoccupazione.csv")
tasso_occupazione = pd.read_csv("file_ingestion/tasso_di_occupazione.csv")
università = pd.read_csv("file_ingestion/unimap_italia.csv")
zone_immobiliari = pd.read_csv("file_ingestion/zone_immobiliari.csv")

In [24]:
aeroporti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Aeroporto         44 non-null     object
 1   Nome Commerciale  44 non-null     object
 2   Comune            44 non-null     object
 3   Tipo Utilizzo     44 non-null     object
 4   LAT               44 non-null     float64
 5   LON               44 non-null     float64
dtypes: float64(2), object(4)
memory usage: 2.2+ KB

In [25]:
capacità_delle_accomodation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7905 entries, 0 to 7904
Data columns (total 54 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Regioni                                                        7904 non-null   object
 1   Codice Regione                                                 7904 non-null   float64
 2   Province                                                       7904 non-null   object
 3   Codice Province                                                7904 non-null   float64
 4   Comuni                                                         7903 non-null   object
 5   Codice comuni                                                  7904 non-null   float64
 6   Esercizi a 5 stelle                                            7904 non-null   object
 7   Letti                                                          7904 non-null   object
 8   Camere                                                         7904 non-null   object
 9   Bagni                                                          7904 non-null   object
 10  Esercizi a 4 stelle                                            7904 non-null   object
 11  Letti.1                                                        7904 non-null   object
 12  Camere.1                                                       7904 non-null   object
 13  Bagni.1                                                        7904 non-null   object
 14  Esercizi a 3 stelle                                            7904 non-null   object
 15  Letti.2                                                        7904 non-null   object
 16  Camere.2                                                       7904 non-null   object
 17  Bagni.2                                                        7904 non-null   object
 18  Esercizi a 2 stelle                                            7904 non-null   object
 19  Letti.3                                                        7904 non-null   object
 20  Camere.3                                                       7904 non-null   object
 21  Bagni.3                                                        7904 non-null   object
 22  Esercizi a 1 stella                                            7904 non-null   object
 23  Letti.4                                                        7904 non-null   object
 24  Camere.4                                                       7904 non-null   object
 25  Bagni.4                                                        7904 non-null   object
 26  Esercizi turistico-alberghiere                                 7904 non-null   object
 27  Letti.5                                                        7904 non-null   object
 28  Camere.5                                                       7904 non-null   object
 29  Bagni.5                                                        7904 non-null   object
 30  Esercizi alberghieri                                           7904 non-null   object
 31  Letti.6                                                        7904 non-null   object
 32  Camere.6                                                       7904 non-null   object
 33  Bagni.6                                                        7904 non-null   object
 34  Numero campeggi e villaggi turistici                           7904 non-null   object
 35  Letti.7                                                        7904 non-null   object
 36  Numero di alloggi in affitto gestiti in forma imprenditoriale  7904 non-null   object
 37  Letti.8                                                        7904 non-null   object
 38  Numero di agriturismi                                          7904 non-null   object
 39  Letti.9                                                        7904 non-null   object
 40  Numero di ostelli per la gioventù                              7904 non-null   object
 41  Letti.10                                                       7904 non-null   object
 42  Numero di case per ferie                                       7904 non-null   object
 43  Letti.11                                                       7904 non-null   object
 44  Numero di rifugi alpini                                        7904 non-null   object
 45  Letti.12                                                       7904 non-null   object
 46  Numero di altri esercizi ricettivi                             7904 non-null   object
 47  Letti.13                                                       7904 non-null   object
 48  Numero di b&b                                                  7904 non-null   object
 49  Letti.14                                                       7904 non-null   object
 50  Numero di esercizi extra-alberghieri                           7904 non-null   object
 51  Letti.15                                                       7904 non-null   object
 52  Numero                                                         7905 non-null   object
 53  Letti.16                                                       7905 non-null   object
dtypes: float64(3), object(51)
memory usage: 3.3+ MB

In [26]:
classificazione_località.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8055 entries, 0 to 8054
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Regioni                        8055 non-null   object
 1   Province                       8055 non-null   object
 2   Comuni                         8054 non-null   object
 3   Circoscrizione Turistica       8055 non-null   object
 4   Cod. Circoscrizione Turistica  8055 non-null   int64
 5   Tipo di località               8055 non-null   object
dtypes: int64(1), object(5)
memory usage: 377.7+ KB

In [27]:
fasce_di_reddito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7900 entries, 0 to 7899
Data columns (total 26 columns):
 #   Column                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                          --------------  -----
 0   Codice catastale                                                                                                7900 non-null   object
 1   Codice Istat Comune                                                                                             7900 non-null   int64
 2   Comune                                                                                                          7900 non-null   object
 3   Regione                                                                                                         7900 non-null   object
 4   Codice Istat Regione                                                                                            7900 non-null   int64
 5   Reddito da fabbricati - Frequenza                                                                               7900 non-null   int64
 6   Reddito da lavoro dipendente e assimilati - Frequenza                                                           7900 non-null   int64
 7   Reddito da pensione - Frequenza                                                                                 7900 non-null   int64
 8   Reddito da lavoro autonomo (comprensivo dei valori nulli) - Frequenza                                           6660 non-null   float64
 9   Reddito di spettanza dell'imprenditore in contabilita' ordinaria  (comprensivo dei valori nulli) - Frequenza    5633 non-null   float64
 10  Reddito di spettanza dell'imprenditore in contabilita' semplificata (comprensivo dei valori nulli) - Frequenza  7709 non-null   float64
 11  Reddito da partecipazione  (comprensivo dei valori nulli) - Frequenza                                           7714 non-null   float64
 12  Reddito imponibile - Frequenza                                                                                  7900 non-null   int64
 13  Imposta netta - Frequenza                                                                                       7900 non-null   int64
 14  Trattamento spettante - Frequenza                                                                               7876 non-null   float64
 15  Reddito imponibile addizionale - Frequenza                                                                      7900 non-null   int64
 16  Addizionale regionale dovuta - Frequenza                                                                        7900 non-null   int64
 17  Addizionale comunale dovuta - Frequenza                                                                         7797 non-null   float64
 18  Reddito complessivo minore o uguale a zero euro - Frequenza                                                     6530 non-null   float64
 19  Reddito complessivo da 0 a 10000 euro - Frequenza                                                               7900 non-null   int64
 20  Reddito complessivo da 10000 a 15000 euro - Frequenza                                                           7893 non-null   float64
 21  Reddito complessivo da 15000 a 26000 euro - Frequenza                                                           7900 non-null   int64
 22  Reddito complessivo da 26000 a 55000 euro - Frequenza                                                           7896 non-null   float64
 23  Reddito complessivo da 55000 a 75000 euro - Frequenza                                                           7135 non-null   float64
 24  Reddito complessivo da 75000 a 120000 euro - Frequenza                                                          6851 non-null   float64
 25  Reddito complessivo oltre 120000 euro - Frequenza                                                               6191 non-null   float64
dtypes: float64(12), int64(11), object(3)
memory usage: 1.6+ MB

In [28]:
lat_long_comuni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8104 entries, 0 to 8103
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Latitude        8104 non-null   int64
 1   Longitude       8104 non-null   int64
 2   Surface         8104 non-null   int64
 3   Superficie km2  8104 non-null   float64
 4   Population      8104 non-null   int64
 5   Common          8103 non-null   object
 6   Province        8012 non-null   object
dtypes: float64(1), int64(4), object(2)
memory usage: 443.3+ KB

In [29]:
quot_immobiliari.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 160989 entries, ('NORD-OVEST;PIEMONTE;AL;1006003;A2AA;A182;ALESSANDRIA;B;B1;AL00000001;20;Abitazioni civili;NORMALE;P;610;900;L;4', '5;6') to ('ISOLE;SARDEGNA;SS;20090090;V3DT;M301;PADRU;B;B1;SS00000858;10;Laboratori;NORMALE;P;330;380;L;1', '7;1')
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                          Non-Null Count   Dtype
---  ------                                                                                                                                                                                                          --------------   -----
 0   Area_territoriale;Regione;Prov;Comune_ISTAT;Comune_cat;Comune_amm;Comune_descrizione;Fascia;Zona;LinkZona;Cod_Tip;Descr_Tipologia;Stato;Stato_prev;Compr_min;Compr_max;Sup_NL_compr;Loc_min;Loc_max;Sup_NL_loc  108201 non-null  object
dtypes: object(1)
memory usage: 7.4+ MB

In [30]:
reddito_procapite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7904 entries, 0 to 7903
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ripartizione           7904 non-null   object
 1   Codice regione         7904 non-null   int64
 2   Denominazione regione  7904 non-null   object
 3   Provincia              7904 non-null   object
 4   Capoluogo              7904 non-null   int64
 5   Denominazione comune   7903 non-null   object
 6   2023                   7904 non-null   object
dtypes: int64(2), object(5)
memory usage: 432.4+ KB

In [31]:
scuole.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3419 entries, 0 to 3418
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Comune       3419 non-null   object
 1   Provincia    3419 non-null   object
 2   Istituto     2562 non-null   object
 3   Latitudine   3419 non-null   object
 4   Longitudine  3419 non-null   object
dtypes: object(5)
memory usage: 133.7+ KB

In [32]:
spopolamento_comuni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7904 entries, 0 to 7903
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Regione                 7904 non-null   object
 1   Provincia               7904 non-null   object
 2   Comune                  7903 non-null   object
 3   Codice comune Istat     7904 non-null   int64
 4   Indice di spopolamento  7904 non-null   object
dtypes: int64(1), object(4)
memory usage: 308.9+ KB

In [33]:
stazioni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3047 entries, 0 to 3046
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   code        3047 non-null   object
 1   region      3047 non-null   object
 2   long_name   3044 non-null   object
 3   short_name  2583 non-null   object
 4   latitude    2584 non-null   object
 5   longitude   2584 non-null   object
dtypes: object(6)
memory usage: 143.0+ KB

In [34]:
tasso_disoccupazione.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7904 entries, 0 to 7903
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Denominazione regione  7904 non-null   object
 1   Provincia              7904 non-null   object
 2   Capoluogo              7904 non-null   int64
 3   Denominazione comune   7903 non-null   object
 4   Codice comune Istat    7904 non-null   int64
 5   Indice disoccupazione  7900 non-null   object
dtypes: int64(2), object(4)
memory usage: 370.6+ KB

In [35]:
tasso_occupazione.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7904 entries, 0 to 7903
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Denominazione regione  7904 non-null   object
 1   Provincia              7904 non-null   object
 2   Capoluogo              7904 non-null   int64
 3   Denominazione comune   7903 non-null   object
 4   Codice comune Istat    7904 non-null   int64
 5   Indice di occupazione  7904 non-null   object
dtypes: int64(2), object(4)
memory usage: 370.6+ KB

In [36]:
università.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Comune       232 non-null    object
 1   Provincia    232 non-null    object
 2   Regione      232 non-null    object
 3   Nome         224 non-null    object
 4   Longitudine  232 non-null    object
 5   Latitudine   232 non-null    object
dtypes: object(6)
memory usage: 11.0+ KB

In [37]:
zone_immobiliari.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27244 entries, 0 to 27243
Data columns (total 12 columns):
 #   Column                                                                                            Non-Null Count  Dtype
---  ------                                                                                            --------------  -----
 0   Quotazioni Immobiliari : Informazioni di Zona OMI - Semestre 2023/2 - elaborazione del 14-MAR-24  27244 non-null  object
 1   Unnamed: 1                                                                                        27244 non-null  object
 2   Unnamed: 2                                                                                        26738 non-null  object
 3   Unnamed: 3                                                                                        27242 non-null  object
 4   Unnamed: 4                                                                                        27244 non-null  object
 5   Unnamed: 5                                                                                        27244 non-null  object
 6   Unnamed: 6                                                                                        27244 non-null  object
 7   Unnamed: 7                                                                                        27244 non-null  object
 8   Unnamed: 8                                                                                        27244 non-null  object
 9   Unnamed: 9                                                                                        27244 non-null  object
 10  Unnamed: 10                                                                                       27244 non-null  object
 11  Unnamed: 11                                                                                       27244 non-null  object
dtypes: object(12)
memory usage: 2.5+ MB